<div class="container">
    <div class="left-panel">
      <img src="../../../assets/wolf_.jpg" alt="Background" class="background-image">
      <div class="overlay-text">
        <h2>Buy used gadgets at a cheaper price</h2>
      </div>
    </div>
  
    <div class="right-panel">
      <h1>Log in to your account</h1>
      <p>Don't have an account? <a href="/register">Create an account</a></p>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Email">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="create-account-button">
          Sign In
        </button>
      </form>
    </div>
  </div>
  